@charset "UTF-8";

@font-face{
	font-family:'FonteLogo';
	src:url("../_fonts/bubblegum-sans-regular.otf"); 
}

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

p{
			text-align: justify;
			text-indent: 50px;
			/*color: rgba(0,0,0,0);*/

}

body{
		background-color: #dddddd;
		/*background-image: url("fundo.jpg*/
		/*background-color: hsl(165,81%,93%);*/
}

nav#menu{
	display: block;
}

nav#menu h1{
    display: none;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 470px;
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover{
	background-color:#606060;
}

nav#menu a{
	color:#000000;
	text-decoration: none;	
}

nav#menu a:hover{
	color:#ffffff;
}

/*BORDER ADD*/
figure.foto-legenda{
	position: relative;	
   border: 8px solid white;	
   box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	color:white;
	top: 0px;
	width:100%; 
	height:100%;
	padding: 10px;
	opacity: 0;
	box-sizing: border-box;
	transition: opacity 2s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

div#interface {
	width:800px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 80px rgba(0,0,0,0.5);
	padding: 10px 10px 10px 10px;
}

div#interface img#icone{
	position: absolute;
	left: 800px;
	top:135px;
}

header#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 260px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 170px;
}

header#cabecalho h1{
	font-family: Fontelogo, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-top: 55px;
}

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,.6);*/
}

section#corpo{
	display: block;
	width: 400px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 10px 10px 10px 10px;
}

aside#lateral{
	display: block;
	width: 370px;
	float: right;

}

footer#rodape{
	clear:both;
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center;
}

table#tabelaSpec{
	border: 1px solid #606060;
}

table#tabelaSpec td{
	border: 1px solid #606060;
}